@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.navbar-brand:hover .logo {
  transform: scale(1.1);
}

.navbar {
  background-color: #f8f9fa;
  border-bottom: 2px solid #e3e3e3;
}

.nav-link {
  color: #333 !important;
  font-weight: 500;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-link:hover {
  color: #28a745 !important;
  transform: translateY(-2px);
}

.logo {
  width: 254px;
  height: 52px;
}

/* Products */
.img-products {
  width: 92%;
  height: 92%;
  object-fit: cover;
}

.card {
  border-radius: 16px;
  background: #FFF;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-lihat-detail-produk {
  display: flex;
  height: 44px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border-radius: 8px;
  background: var(--Light-Green-600, #1ED017);
  color: #FFF;
  text-decoration: none;
}

.product-page {
  background: var(--Light-Green-800, #24771A);
  margin-top: -30px;
  padding-top: 50px;
}


/* home */
.hero-section {
  background: url('/public/bg-hero1.jpg') no-repeat center center/cover;
  height: 90vh;
  margin-top: -30px;
  object-fit: cover;
}

.hero-section h1 {
  color: var(--Light-Green-100, #CDFFBD);
  text-align: right;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 80px;
  padding-top: 128px;
}

.hero-section p {
  color: var(--Light-Green-100, #CDFFBD);
  text-align: right;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 300;
  line-height: 40px;
  padding-top: 32px;
}

.hero-section .shop-now {
  display: flex;
  width: 224px;
  height: 55px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  border-radius: 4px;
  background: var(--Light-Lime-300, #B0FF78);
  color: var(--Light-Green-800, #24771A);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

/* Whyous */
.container-whyous {
  padding-top: 94px;
  background: var(--Light-Green-800, #24771A);
  padding-bottom: 50px;
}

.why-ous .card {
  width: 274px;
  height: 282px;
  padding: 20px;
  gap: 10px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.why-ous .card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px 0px rgba(36, 163, 27, 0.4);
}

.why-ous .title {
  color: var(--Neutral-Gray, #333);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.why-ous p {
  color: var(--Neutral-Gray, #333);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

/* About */
.about {
  background: url('/public/bg-about.png') no-repeat center center/cover;
  height: 100vh;
  object-fit: cover;
}

.about .title {
  color: var(--Black, #000);
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 38px;
  padding-top: 36px;
}

.about p {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.footer {
  padding-top: 60px;
}

.footer p {
  color: var(--custom-02-Text-primary, #091E42);
  font-size: 16px;
  font-weight: 400;
}


.footer .col-subsribe {
  margin-left: 100px;
}

.footer .btn-subsribe {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  border-radius: 0px 8px 8px 0px;
  background: var(--Light-Green-600, #1ED017);
  color: #FFF;
}

.footer-text {
  color: var(--custom-02-Text-primary, #091E42);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
}

/* componen chatbot style */
.floating-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.container-bot {
  width: 700px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.floating-bot {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.close-chat-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  padding: 5px;
  font-size: 20px;
}


/* login-section */
.login-section {
  background: var(--Light-Green-800, #24771A);
  width: 100%;
  height: 90vh;
  margin-top: -30px;
}

.login-section .login {
  margin-top: 73px;
  width: 596px;
  height: 400px;
  padding: 64px 57px;
  gap: 10px;
  border-radius: 10px;
  background: var(--White, #FFF);
  box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.40);
}

.btn-login {
  height: 44px;
  padding: 10px 16px;
  gap: 8px;
  border-radius: 8px;
  background: var(--Light-Green-600, #1ED017);
  color: #FFF;
  border: none;
}


/* Kelola produk */
.btn-tambah {
  display: flex;
  width: 231px;
  height: 44px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--Light-Green-600, #1ED017);
  border: none;
  color: #FFF;
}

/* detail product */
.btn-buy {
  display: flex;
  width: 231px;
  height: 44px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 8px;
  background: var(--Light-Green-600, #1ED017);
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 200px;
    height: 40px;
  }

  .hero-section {
    height: 65vh;
  }

  .hero-section h1 {
    font-size: 28px;
    line-height: 48px;
    padding-top: 64px;
    text-align: center;
  }

  .hero-section p {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }

  .custom-center {
    justify-content: center !important;
  }

  .footer .col-subsribe {
    margin-left: 0;
  }

  .btn-danger {
    margin-top: 10px;
  }

  .why-ous .card {
    margin-left: 40px;
    margin-top: 25px;
  }

  .container-bot {
    width: 375px;
  }

  .about p {
    text-align: justify;
  }

}

/* animasi loading detail product*/
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #007bff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}